.header{
    
    height: 80px;
    background: #1C2B35;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header div a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.header div a:hover{
    color: orange;
}